.metadata
bin/
*.bak
*.swp
target/
tmp/**
*.log
retail.log
retail*.log
*~.nib
local.properties
.settings/
.loadpath
*.sts
.recommenders
.externalToolBuilders/
*.launch
.factorypath
.target
.recommenders/      
.project     
.classpath
# End of https://www.gitignore.io/api/eclipse