### Eclipse ###

.metadata
bin/
/tmp/
**/*.log
*.tmp
*.bak
*.swp
target/
*~.nib
local.properties
.settings/
.loadpath
*.sts
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath


# sbteclipse plugin
.target


# Code Recommenders
.recommenders/

### Eclipse Patch ###
# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath

# End of https://www.gitignore.io/api/eclipse